doctype html
html(lang="en")
    include head

    body(class='antialiased bg-sunrise')



        <!-- Title -->
        div(class="container mx-auto py-8 pb-4")
            h1(class="font-bold text-4xl md:text-5xl text-center text-slate-800 pb-2 px-4 lg:px-0")
                a(href="/")
                    |Go Code Remote

                span(class="bg-red-800 font-bold absolute top-[15px] right-[12px] lg:right-[28px] lg:right-auto lg:top-[39px] text-white text-xs me-2 px-2.5 py-0.5 rounded").
                    BETA

            h3(class="font-medium text-lg text-center text-slate-600")
                a(href="/").
                    Remote jobs for developers
        <!-- React Components -->
        section(class="px-4 py-6 leading-6 text-gray-700 sm:px-6 lg:px-8")
            div(class="w-full mx-auto duration-500 ease-in-out transform max-w-screen-xl")
                main(id="root")


        <!-- Webpack -->
        script(src='/dist/bundle.js?v='+version)
        include foot
