doctype html
html(lang="en")
    include head

    body(class='antialiased bg-sunrise')



        <!-- Title -->
        div(class="container mx-auto py-8 pb-4")
            h1(class="font-bold text-5xl text-center text-slate-800")
                a(href="/").
                    GoCodeRemote

                span(class="bg-red-800 font-bold absolute top-[39px] text-white text-xs me-2 px-2.5 py-0.5 rounded").
                    BETA

            h3(class="font-medium text-lg text-center text-slate-600")
                a(href="/").
                    Helping you find your dream tech job
        <!-- React Components -->
        section(class="px-4 py-8 leading-6 text-gray-700 sm:px-6 lg:px-8")
            div(class="w-full mx-auto duration-500 ease-in-out transform max-w-screen-xl")
                main(id="root")


        <!-- Webpack -->
        script(src='/dist/bundle.js?v=2')
        include foot